In [1]:
import pandas as pd
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass

In [9]:
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
password = getpass() #Contrase√±a del servidor MySQL
connection_string = 'mysql+pymysql://root:'+password+'@localhost/proyecto'
engine = create_engine(connection_string)
query = '''SELECT subject, ROUND(AVG(price))
FROM course_information
GROUP BY subject
ORDER BY AVG(price) DESC;;'''
data = pd.read_sql_query(query, engine) #Traer datos

In [11]:
data

               subject  ROUND(AVG(price))
0      Web Development               77.0
1     Business Finance               69.0
2       Graphic Design               58.0
3  Musical Instruments               50.0

In [13]:
plt.figure(figsize=(10, 6))
sns.barplot(x='subject', y='price', data palette='viridis')
plt.title('Average Price by Course Subject')
plt.xlabel('Subject')
plt.ylabel('Average Price')
plt.xticks(rotation=45)  # Rotate the x labels for better readability
plt.show()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3727855358.py, line 2)